.container {
    position: relative;
    z-index:1;
    text-align: center;
    vertical-align: center;
    border-style: double;
    margin-top: 100px;
    width: 53em;
    border-radius: 700px;
    height: 36em;
    border-top: 30px solid #C66;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid #66C;
    border-right: 30px solid #CC6;
    background-color: rgb(230, 210, 189);
    font-family: sans-serif;
    -webkit-shape-inside: circle(60, 60, 60, 60);
    -webkit-shape-outside: circle(60, 60, 60, 60);
}

body img {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity:0.3;
  }

.jumbotron {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 140px;
  width: 360px;
  text-align: center;
  vertical-align: middle;
  border-style: double;
  border-radius: 500px;
  background-color: rgb(198, 221, 228)
}

h3 {
  font-family: monospace;
  font-weight: bold;
  font-size: 26px;
  color: darkorchid;
  text-shadow: 3px;
  border-style: hidden;
  border-radius: 1em;
  width: 250px;
  vertical-align: top;
  margin-top: -1em;
  margin-left: -0.4em;
}

h4 {
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  color: darkblue;
  padding-top: 0.17em;
  padding-bottom: -0.5em;
}

#survey {
  font-size: 12px;
  font-family: monospace;
  color: darkgreen;
  background-color: faf0e6;
  text-align: center
  margin-top: 20px;
  padding-bottom: 10px;
}

.btn {
  border-radius: 50px;
}

#result {
  display: none;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 0.2em;
}
